body{
  
  place-items:center;
  height: 100vh; 
  background-color:#626267;
  
}

.animated-title {
  text-align: center;
  font-size:130px;
  display: flex;
  color: white;
  text-shadow: 5px 5px 5px #324a5f;
  font-family: fantasy;
  padding-bottom: 10px; 
  
}

.animated-title span {
  opacity: 0;
  transform: translateY(120px);
  animation: moveIn 0.5s forwards;
  
}

@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.animated-title span:nth-child(1) { animation-delay: 0.6s; }
.animated-title span:nth-child(2) { animation-delay: 0.7s; }
.animated-title span:nth-child(3) { animation-delay: 0.8s; }
.animated-title span:nth-child(4) { animation-delay: 0.9s; }
.animated-title span:nth-child(5) { animation-delay: 1.0s; }
.animated-title span:nth-child(6) { animation-delay: 1.1s; }
.animated-title span:nth-child(7) { animation-delay: 1.2s; }
.animated-title span:nth-child(8) { animation-delay: 1.3s; }
.animated-title span:nth-child(9) { animation-delay: 1.4s; }
.animated-title span:nth-child(10) { animation-delay: 1.5s; }
.animated-title span:nth-child(11) { animation-delay: 1.6s; }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

p {
    margin-top: 10px; 
    color: white; 
}


