body{
  display: grid;
  place-items: center;
  height: 100vh; 
  margin: 0; 
  background-color:#626267;
}

.animated-title {
  text-align: center;
  display: flex;
  color: white;
  text-shadow: 5px 5px 5px #324a5f;
  font-family: fantasy;
  padding-bottom: 10px; 
  
}

.animated-title span {
  opacity: 0;
  transform: translateY(120px);
  animation: moveIn 0.5s forwards;
  
}

@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-title span:nth-child(1) { animation-delay: 0.1s; }
.animated-title span:nth-child(2) { animation-delay: 0.2s; }
.animated-title span:nth-child(3) { animation-delay: 0.3s; }
.animated-title span:nth-child(4) { animation-delay: 0.4s; }
.animated-title span:nth-child(5) { animation-delay: 0.5s; }
.animated-title span:nth-child(6) { animation-delay: 0.6s; }
.animated-title span:nth-child(7) { animation-delay: 0.7s; }
.animated-title span:nth-child(8) { animation-delay: 0.8s; }
.animated-title span:nth-child(9) { animation-delay: 0.9s; }
.animated-title span:nth-child(10) { animation-delay: 1.0s; }
.animated-title span:nth-child(11) { animation-delay: 1.1s; }
.animated-title span:nth-child(12) { animation-delay: 1.2s; }
.animated-title span:nth-child(13) { animation-delay: 1.3s; }
.animated-title span:nth-child(14) { animation-delay: 1.4s; }
.animated-title span:nth-child(15) { animation-delay: 1.5s; }
.animated-title span:nth-child(16) { animation-delay: 1.6s; }


p {
    margin-top: 10px; 
    color: white; 
}


