.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 150px;
}

#h2{
    color:grey;
    font-family:cursive;
    font-size:20px;
    
}

.moving-title {
    position: absolute;
    font-size: 3.8em;
    color: pink;
    animation: moveIn 4s ease-in-out forwards;
    text-shadow:2px 3px 5px white;
}

@keyframes moveIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: none;
    line-height: normal;
    overflow: visible;
}

body{
    min-height: 100svh;
    background-color: rgb(15, 23, 42);
    color: white;
    display: grid;
    place-content: center;
    font-size: 1rem;
    font-family: system-ui;
}

nav {
    --_clr-txt: rgb(255, 255, 255);
    --_clr-txt-svg: rgb(147, 158, 184);
    --_ani-speed: 10s;

    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}
nav>button {
    position: relative;
    display: grid;
    place-content: center;
    grid-template-areas: 'stack';
    padding: 0 1.9rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family:fantasy;
}


nav>button>span {
    transition: all 300ms ease-in-out;
    grid-area: stack;
}

nav>button>span:last-of-type {
    margin-top: 0.30rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
}

nav>button:focus-visible>span:first-of-type,
nav>button:hover>span:first-of-type {
    transform: scale(0);
}

nav>button:focus-visible>span:last-of-type,
nav>button:hover>span:last-of-type {
    transform: scale(1);
}


nav>button>svg {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    color: var(--_clr-txt-svg);
}

nav>button:focus-visible>svg,
nav>button:hover>svg {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition-delay: 150ms;
    transition: all 300ms ease-in-out;
}



 button svg g {
    transform-origin: center;
    animation: rotate var(--_ani-speed) linear infinite;
 }


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

 .floating-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 0; 
}

.floating-image {
    position: absolute;
    width: 800px; 
    animation: float 6s ease-in-out infinite; 
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Position images at different locations */
.floating-image:nth-child(1) {
    top: 10%;
    left: 4%;
    animation-delay: 0s;
}

.floating-image:nth-child(2) {
    top: 3%;
    right: 1%;
    animation-delay: 1s;
}

.floating-image:nth-child(3) {
    bottom: 0.2%;
    left: 20%;
    animation-delay: 2s;
}

.floating-image:nth-child(4) {
    bottom: 8%;
    right: 10%;
    animation-delay: 3s;
}

#homelinks{
    color:#77a3bf;
}
   
