body{
  background-color:#252323;
}

h1{
  color:White;
  text-align:center;
  text-transform:capitalize;
  text-shadow: 5px 5px 5px #70798c;
  font-family:cursive,Serif ;
  font-size:70px;
  transform: translate(-50%,-50%);
  background-size: cover;
   background-image: url(https://cdn-images-1.medium.com/max/2000/1*Jalb56N34pBIGCjQULtW3A.jpeg);
  animation: background-text-animation 15s linear infinite;
   -webkit-background-clip: text;
}

@keyframes background-text-animation {
  0%{
    background-position: left 0px top 50%;
  }
  50%{
    background-position: left 1500px top 50%;
  }
  100%{
    background-position: left 0px top 50%;
  }
}
