body{
  background-color:#252323;
}

.animated-title {
  display: flex;
  color:white;
  font-shadow: 5px 5px 5px 5px #70798c;
  fon-family:cursive;
}

.animated-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: moveIn 0.5s forwards;
}

@keyframes moveIn {
  to {
    opacity: 2;
    transform: translateY(0);
  }
}

.animated-title span:nth-child(1) { animation-delay: 0.1s; }
.animated-title span:nth-child(2) { animation-delay: 0.2s; }
.animated-title span:nth-child(3) { animation-delay: 0.3s; }
.animated-title span:nth-child(4) { animation-delay: 0.4s; }
.animated-title span:nth-child(5) { animation-delay: 0.5s; }
.animated-title span:nth-child(6) { animation-delay: 0.6s; }
.animated-title span:nth-child(7) { animation-delay: 0.7s; }
.animated-title span:nth-child(8) { animation-delay: 0.8s; }
.animated-title span:nth-child(9) { animation-delay: 0.9s; }
.animated-title span:nth-child(10) { animation-delay: 1.0s; }
.animated-title span:nth-child(11) { animation-delay: 1.1s; }
.animated-title span:nth-child(12) { animation-delay: 1.2s; }
.animated-title span:nth-child(13) { animation-delay: 1.3s; }
.animated-title span:nth-child(13) { animation-delay: 1.4s; }
.animated-title span:nth-child(13) { animation-delay: 1.5s; }
.animated-title span:nth-child(13) { animation-delay: 1.6s; }




