body{
  
  place-items:center;
  height: 100vh; 
  background-color:#626267;
  
}

.animated-title {
  text-align: center;
  font-size:90px;
  display: flex;
  color: white;
  text-shadow: 5px 5px 5px #324a5f;
  font-family: fantasy;
  padding-bottom: 10px; 
  
}

.animated-title span {
  opacity: 0;
  transform: translateY(120px);
  animation: moveIn 0.5s forwards;
  
}

@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-title span:nth-child(1) { animation-delay: 0.0s; } 
.animated-title span:nth-child(2) { animation-delay: 0.1s; }
.animated-title span:nth-child(3) { animation-delay: 0.2s; }
.animated-title span:nth-child(4) { animation-delay: 0.3s; }
.animated-title span:nth-child(5) { animation-delay: 0.4s; }
.animated-title span:nth-child(6) { animation-delay: 0.5s; }
.animated-title span:nth-child(7) { animation-delay: 0.6s; }
.animated-title span:nth-child(8) { animation-delay: 0.0s; } 
.animated-title span:nth-child(9) { animation-delay: 0.8s; }
.animated-title span:nth-child(10) { animation-delay: 0.9s; }
.animated-title span:nth-child(11) { animation-delay: 0.0s; } 
.animated-title span:nth-child(12) { animation-delay: 1.11s; }
.animated-title span:nth-child(13) { animation-delay: 1.12s; }
.animated-title span:nth-child(14) { animation-delay: 0.0s; } 
.animated-title span:nth-child(15) { animation-delay: 1.14s; }
.animated-title span:nth-child(16) { animation-delay: 1.15s; }
.animated-title span:nth-child(17) { animation-delay: 1.16s; }
.animated-title span:nth-child(18) { animation-delay: 1.17s; }
.animated-title span:nth-child(19) { animation-delay: 1.18s; }
.animated-title span:nth-child(20) { animation-delay: 1.19s; }
.animated-title span:nth-child(21) { animation-delay: 1.20s; }
.animated-title span:nth-child(22) { animation-delay: 2.21s; }
.animated-title span:nth-child(23) { animation-delay: 2.22s; }
.animated-title span:nth-child(24) { animation-delay: 2.23s; }



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

p {
    margin-top: 10px; 
    color: white; 
}


